body {
    font-family: Arial, sans-serif;
    background-color: #19ff71;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    margin-left: 22%;
    margin-right: 20%;
    width: 50%;
    resize: vertical;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #1d32f7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #20f8ff;
}

audio {
    width: 100%;
    margin-top: 20px;
}

